.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.user-list,
.post-list {
  flex: 1;
  margin: 0 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar {
  display: block;
  margin-bottom: 1em;
  padding: 0.5em;
  width: 100%;
}

.user-list-item,
.post-list-item {
  cursor: pointer;
  list-style-type: none;
  padding: 0.5em;
}

.user-list-item:hover {
  background-color: #f0f0f0;
}

.post-list-item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
